doctype html  
html(lang='en')  
  head
    meta(charset='en')
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
  body(style="visibility: hidden")
    .header 
        h1.hed Two Things That Are Good
        p.dek Cats & open data—made possible with 
          a(href="https://datasetsearch.research.google.com/search?query=cats") Google dataset search engine 
    main
      section#app
        div.key
          div.square
          span 25 km sq.
        div#cats
      section#intro
        div.card
          div.ps
            p.intro The map shows the estimated cat population per 25 square kilometer area in Great Britain, as of January 1, 2015 when the estimates were modeled. 
            p Hover or click on a square to see the estimated number of cats, visualized in  
              img.paragraph-img(src="https://cataas.com/cat?height=30") 
              |  GIFs, where every one cat GIF represents one hundred cats. To not make half-GIFS, every cat amount is rounded to the next one hundred cats. For example, 102 cats would be represented by two GIFs.
          div.image
            div.nums-wrap
                span.id-number
                span.number-of-cats
            div.inner-image-wrap
        div.source Sources: 
              a(href="https://data.gov.uk/dataset/9d475e06-3885-4a90-b8c0-77fea13f92e6/cats-per-square-kilometre") Animal and Plant Health Agency, 
              a(href="https://github.com/charlesroper/OSGB_Grids") Charles Roper, 
              a(href="https://cataas.com/#/") Cats As A Service, 
              a(href="https://data.gov.uk/dataset/7879ab82-2863-401e-8a29-a56e264d2182/major-towns-and-cities-december-2015-boundaries") Office for National Statistics
              a(href="https://data.gov.uk/dataset/1a9d2abf-9050-42ac-b508-02cf2f4532b2/localities-urban-areas")  & the Scottish Government 