

// mixins to use for mobile and various size styling
@mixin breakpoint($point) {
   @if $point == desktop {
     @media (min-width: 70em) { @content ; }
  }
   @else if $point == laptop {
     @media (min-width: 1600px) { @content ; }
  }
    @else if $point == tablet {
     @media (min-width: 1200px) { @content ; }
  }
   @else if $point == phablet {
     @media (max-width: 1200px)  { @content ; }
  }
  @else if $point == mobileonly {
     @media (max-width: 400px)  { @content ; }

  }
}

// a variety of google fonts
@import url('https://fonts.googleapis.com/css?family=Chau+Philomene+One|Krub|Lacquer|Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo|Neuton&display=swap');

// variables local to this app
$font-fam: 'Permanent Marker', sans-serif;
$background: #ffeed2;
$font: #222222;
$black: #222222;


.header {
	@include breakpoint(phablet) {
		margin-bottom: 75px;
	}	
	.hed {
		margin-top: 5px;
		margin-left: 36px;
		margin-bottom: 6px;
		color: #4819cb;
		font-family: $font-fam;
		font-size: 3.4em;
	}

	.dek {
			margin-top: 0;
			font-size: 1.2em;
			margin-left: 36px;
			color: $black;
			font-family: 'Nanum Myeongjo', serif;
			color: #6f6c7f;
	}
}

body {
	margin: 0 auto;
	flex-wrap: wrap;
	@include breakpoint(phablet) {
		width: 75%;
		margin: 0 auto;
		flex-wrap: wrap;
	}	
	// visibility set so that nothing visible before js loads, since styles load in js
  visibility: visible !important;
  background-color: $background;

	a:visited, a:link {
		color: #ff1b9c;
		text-decoration: none;
	}
	a:hover {
		color: #ff1b9c;
		text-decoration: underline;
	}

}

// styles for the main page
main {
	display: flex;
	width: 100%;
	margin-left: 20px;
	flex-wrap: wrap;
	justify-content: flex-start;
	#intro {
		width: 66%;
		margin-left: 40px;
			@include breakpoint(phablet) {
				width: 100%;
				flex-wrap: wrap;
		}	
		.ps {
			width: 40%;
			padding-top: 65px;
			
			@include breakpoint(phablet) {
				width: 100%;
				margin-right: 0;
			}	
			margin-right: 60px;
		}

		.image {
			font-family: $font-fam;
			width: 95%;
			margin-right: 20px;
			color: #4819cb;
		}
		.inner-image-wrap {
			margin: 0 auto;
			display: flex;
		  flex-wrap: wrap;
		  justify-content: flex-start;
		}
		.nums-wrap {
			margin-bottom: 15px;
		}
		.number-of-cats {
			font-size: 40px;
		}
		.card {
			height: 500px;
			@include breakpoint(phablet) {
				flex-wrap: wrap;
				height: 1000px;
			}	

			font-family: 'Nanum Myeongjo', serif;
			margin: 40px 16px 16px 16px;
			padding-top: 10px;
			padding-right: 20px;
			padding-left: 20px;
			padding-bottom: 10px;
			margin-bottom: 90px;
			display: flex;
			p {
				color: #6f6c7f;
				font-size: 18px;
				margin-top: 0;
				line-height: 1.7;
			}
			.paragraph-img {
				position: relative;
			  top: 6px;
			  filter: sepia(100%) saturate(300%) brightness(70%) hue-rotate(190deg);
			}
			.img-cats {
				padding: 5px;
				filter: sepia(100%) saturate(300%) brightness(70%) hue-rotate(190deg);
			}
		}
	}
	#app {
		width: 30%;
		@include breakpoint(phablet) {
			width: 100%;
		}	
		font-family: $font-fam;
		svg {
			cursor: crosshair;
			overflow: visible;
			.up {
				stroke: #4819cb !important;
			}
		}
		.key {
			position: absolute;
			bottom: 25%;
			display: flex;
			margin-left: 36px;
			font-family: $font-fam;
			color: #6f6c7f;
			.square {
				height: 15px;
				width: 15px;
				background-color: #fec770;
				margin-right: 10px;
				margin-top: 5px;
			}
	}
	}

	.source {
		font-family: 'Nanum Myeongjo', serif;
		margin-bottom: 30px;
		text-align: right;
		margin-right: 20px;
		color: #6f6c7f;
		@include breakpoint(phablet) {
				position: sticky;
	

			}	

	}
}