 @mixin breakpoint($point) {
   @if $point == desktop {
     @media (min-width: 70em) { @content ; }
  }
   @else if $point == laptop {
     @media (min-width: 64em) { @content ; }
  }
    @else if $point == tablet {
     @media (min-width: 50em) { @content ; }
  }
   @else if $point == phablet {
     @media (min-width: 37.5em)  { @content ; }
  }
  @else if $point == mobileonly {
     @media (max-width: 37.5em)  { @content ; }

  }
}

@import url('https://fonts.googleapis.com/css?family=Chau+Philomene+One|Krub|Lacquer|Permanent+Marker&display=swap');

$font-fam: 'Permanent Marker', sans-serif;
$background: #ffffff;
$font: #222222;
$black: #222222;

.img-cats {
	padding: 5px;
}

a:visited, a:link {
	color: #ff1b9c;
	text-decoration: none;
}
a:hover {
	color: #ff1b9c;
	text-decoration: underline;
}
main {
	display: flex;
	width: 100%;
	margin-left: 20px;
	flex-wrap: wrap;
	justify-content: flex-start;
	height: 90vh;
	@include breakpoint(mobileonly) {

	}	
}

#intro {
	width: 66%;
}
#app {
	width: 30%;
	font-family: $font-fam;

}

// .intro {
// 	margin-right: 30px;

// }


.hed {
	margin-top: 5px;
	margin-left: 36px;
	margin-bottom: 6px;
	color: #4819cb;
}


.up {
	stroke: #4819cb !important;
}
.dek {
		margin-top: 0;
		font-size: 1.2em;
		margin-left: 36px;
		color: $black;
		font-family: $font-fam;

}

body {
  visibility: visible !important;
  
  background-color: $background;
}

h1 {
		font-family: $font-fam;
		font-size: 3.4em;
		color: $font;
}

.card {
	font-family: 'Helvetica Neue', 'sans-serif';
	margin: 40px 16px 16px 16px;
	height: 500px;
	padding-top: 10px;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 10px;
	margin-bottom: 90px;
	// color: $font;
	display: flex;
	// flex-wrap: wrap;
	// background-color: #f0f0f0;
}

.ps {
	width: 40%;
	margin-right: 20px;
}

.image {
	font-family: $font-fam;
	width: 95%;
	// overflow-y: scroll;
	padding: 5px;
	margin-right: 20px;
	color: #4819cb;

}

.inner-image-wrap {
	margin: 0 auto;
	display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
svg {
	cursor: crosshair;
}
.nums-wrap {
	// height: 50px;
	// width: 30%;
	margin-bottom: 15px;
}
.number-of-cats {
	font-size: 40px;
}
.card p {
	font-size: 18px;
	// padding-right: 50px;
	margin-top: 0;

}

.paragraph-img {
	position: relative;
  top: 6px;
}

.source {
	font-family: 'Helvetica Neue';
	margin-bottom: 30px;
	text-align: right;
	margin-right: 20px;

}

.card p {
	line-height: 1.6;
}