

// mixins to use for mobile and various size styling
@mixin breakpoint($point) {
   @if $point == desktop {
     @media (min-width: 70em) { @content ; }
  }
   @else if $point == laptop {
     @media (min-width: 1600px) { @content ; }
  }
    @else if $point == tablet {
     @media (min-width: 1200px) { @content ; }
  }
   @else if $point == phablet {
     @media (max-width: 1200px)  { @content ; }
  }
  @else if $point == mobileonly {
     @media (max-width: 400px)  { @content ; }

  }
}

// a variety of google fonts
// @import url('https://fonts.googleapis.com/css?family=Chau+Philomene+One|Krub|Lacquer|Permanent+Marker&display=swap');
// @import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo|Neuton&display=swap');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');
// variables local to this app

$font-fam: 'Press Start 2P', sans-serif;
$background: #ffeed2;
$font: #6f6c7f;
$black: #222222;
$blue: #4819cb;
$red: #ff1b9c;

.header {
	margin-top: 20px;
	@include breakpoint(phablet) {
		margin-bottom: 75px;
	}
	.hed {
		margin-top: 5px;
		margin-left: 34px;
		margin-bottom: 20px;
		color: $blue;
		font-family: $font-fam;
		font-size: 3em;
	}

	.dek {
			margin-top: 0;
			font-size: 1.2em;
			margin-left: 37px;
			color: $black;
			font-family: 'Helvetica';
			font-weight: 200;
			color: $font;
	}
}

body {
	margin: 0 auto;
	flex-wrap: wrap;
	@include breakpoint(phablet) {
    max-width: 900px;
		width: 100%;
		margin: 0 auto;
		flex-wrap: wrap;
	}
	// visibility set so that nothing visible before js loads, since styles load in js
  visibility: visible !important;
  background-color: $background;

	a:visited, a:link {
		color: $red;
		text-decoration: none;
	}
	a:hover {
		color: $red;
		text-decoration: underline;
	}
}

// styles for the main page
main {
	display: flex;
	width: 100%;
	margin-left: 20px;
	flex-wrap: wrap;
	justify-content: flex-start;
	#intro {
		width: 66%;
		margin-left: 40px;
			@include breakpoint(phablet) {
				width: 100%;
        max-width: 900px;
				flex-wrap: wrap;
				margin-left: 0px;
        margin: 0 auto;
		}
		.ps {
			width: 40%;
			// padding-top: 65px;

			@include breakpoint(phablet) {
				width: 100%;
				margin-right: 0;
			}
			margin-right: 60px;
		}

		.image {
			font-family: $font-fam;
			width: 95%;
			margin-right: 20px;
			color: $blue;
		}
		.inner-image-wrap {
			margin: 0 auto;
			display: flex;
		  flex-wrap: wrap;
		  justify-content: flex-start;
		}
		.nums-wrap {
			margin-bottom: 15px;
		}
		.number-of-cats {
			font-size: 22px;
		}
		.card {
			height: 500px;
			@include breakpoint(phablet) {
				flex-wrap: wrap;
			}

			font-family: 'Helvetica';
			font-weight: 200;
			margin: 40px 16px 16px 16px;
			padding-top: 10px;
			padding-right: 20px;
			padding-left: 20px;
			padding-bottom: 10px;
			margin-bottom: 90px;
			display: flex;
			p {
				color: $font;
				font-size: 18px;
				margin-top: 0;
				line-height: 1.7;
			}
			.source {
        cursor: pointer;
				margin-top: 30px;
				font-weight: 200;
				margin-bottom: 30px;
				text-align: right;
				margin-right: 20px;
				color: $font;
        font-family: "Helvetica";
				@include breakpoint(phablet) {
						position: sticky;
            margin-top: 30px;
					}
        .source-wrap {
          display: flex;
          justify-content: flex-end;
          font-family: $font-fam;
          margin-bottom: 20px;
        }
        .arrow {
          width: 0;
          content: '';
          border-top: 7px solid $font;
          border-left: 7px solid transparent;
          border-right: 7px solid transparent;
          transform: rotate(-90deg);
          margin: 3px;
        }

        .hide {
          opacity: 0;
          overflow: hidden;
          transition: opacity 0.5s;
        }
        .show {
          opacity: 1;
          transition: opacity 0.5s;
        }
			}
			.paragraph-img {
				position: relative;
			  top: 6px;
			  filter: sepia(100%) saturate(300%) brightness(70%) hue-rotate(190deg);
			}
			.img-cats {
				padding: 5px;
				filter: sepia(100%) saturate(300%) brightness(70%) hue-rotate(190deg);
			}
		}
	}
	#app {
		width: 30%;
		@include breakpoint(phablet) {
			width: 100%;
		}
		font-family: $font-fam;
		svg {
			cursor: crosshair;
			overflow: visible;
			.up {
				stroke: $blue !important;
			}
		}
		.key {
			position: absolute;
			bottom: 33%;
			display: flex;
			margin-left: 36px;
			font-family: $font-fam;
			color: $font;
      @include breakpoint(phablet) {
        top: 0%;
        position: relative;
      }
			.square {
				height: 15px;
				width: 15px;
				background-color: #fec770;
				margin-right: 10px;
			}
	}
	}
}
